@charset "UTF-8";
*{
   list-style: none;
   text-decoration: none;
   border-collapse: collapse;
   margin:0; padding:0; box-sizing: border-box;
}
button{
  border: 0;
  background-color: transparent;
}
